{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
